.containerProfile {
    width: 100vw;
    height: 82vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Tahoma;
    padding: 40px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.profile h2 {
    font-size: 2.6vw;
    color: rgb(20, 129, 237);
}

.profile p {
    font-size: 1.7vw;
    width: 60vw;
    color: rgb(20, 129, 237);
}

.profile .imgFotoCV {
    height: 28vw;
    margin-right: 2vw;
    border-radius: 50%;
    border: 3px rgba(157, 212, 240, 0.533) solid;
    box-shadow: aquamarine;
}

@media (max-width: 600px) and (max-height: 600px){
    .profile {
        flex-direction: column;
    }
    
    .profile h2 {
        font-size: 3vw;
    }
    
    .profile p {
        font-size: 2vw;
        width: 90vw;
    }
    
    .profile .imgFotoCV {
        height: 25vw;
    } 
}

@media (min-width: 900px) and (min-height: 600px) and (max-width: 1500px) and (max-height: 1000px) {
    /* .profile {
        flex-direction: column;
    } */
    
    .profile h2 {
        font-size: 3vw;
    }
    
    .profile p {
        font-size: 1.8vw;
        width: 60vw;
    }
    
    .profile .imgFotoCV {
        height: 30vw;
    } 
}

@media (max-height: 920px) and (max-width: 600px){
    .profile {
        flex-direction: column;
    }
    
    .profile h2 {
        font-size: 4.8vw;
    }
    
    .profile p {
        font-size: 3vw;
        width: 90vw;
    }
    
    .profile .imgFotoCV {
        height: 30vw;
    } 
}

@media (min-height: 900px) and (min-width: 600px) and (max-height: 1500px) and (max-width: 1000px) {
    .profile {
        flex-direction: column;
    }
    
    .profile h2 {
        font-size: 3vw;
    }
    
    .profile p {
        font-size: 2.5vw;
        width: 80vw;
    }
    
    .profile .imgFotoCV {
        height: 30vw;
    } 
}
