.containerExp {
    width: 100vw;
    height: 84vh;
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en filas */
    align-items: center;
    justify-content: space-around;
}

.exp {
    width: 18rem;
    height: 10rem;
    margin: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px aquamarine solid; */
    box-shadow: 0 0 20px rgba(157, 212, 240, 0.533);
    border-radius: 10%;
    border: 1px rgba(157, 212, 240, 0.533) solid;
}

.exp:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.exp img {
    width: 12rem;
    padding: 2px;
}

.exp span {
    font-size: 1.2rem;
    padding: 1px;
    font-family: Tahoma;
    color: rgb(20, 129, 237);
}

@media screen and (max-width: 800px) {
    .exp {
        width: 10rem;
        height: 5rem;
    }

    .exp img {
        width: 6rem;
    }

    .exp span {
        font-size: 0.6rem;
    }
}

@media (min-width: 820px) {
    .exp {
        width: 12rem;
        height: 8rem;
    }

    .exp img {
        width: 8rem;
    }

    .exp span {
        font-size: 0.8rem;
    }
}
