.sklContainer {
    width:100vw;
    height:84vh;
    display: flex;
    flex-direction: row;
    font-family:Tahoma;
    align-items: center;
    justify-content: space-around;
}

.skl {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skl img {
    padding: 2px;
    width: 6vw;
}

.skl span {
    padding: 2px;
    font-size: 1.5vw;
    color:  rgb(20, 129, 237);
}

@media screen and (max-width: 700px) {
    .sklContainer{
        flex-direction: column;
    }

    .skl span{
        font-size: 3vw;
    }
}

