* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../src/Images/19366.jpg");
  background-size: cover;
  background-position: initial;
}

.appContainer{
  width: 100vw;
  max-width: 1900px;
}