.container {
  font-size: 1.8vw;
  width: 100vw;
  height: 8vh;
  font-family: Tahoma;
  color: rgb(20, 129, 237);
  border: solid rgba(157, 212, 240, 0.533) 1px;
  background-color: rgba(157, 212, 240, 0.23);
}

.active {
  color: blue;
  text-underline-offset: 5px;
  text-decoration-color: rgb(100, 200, 255);
}

.disable {
  text-decoration: none;
  color: inherit;
}

.mobileMenuButton {
  display: none; /* Oculta el botón de hamburguesa en pantallas grandes */
}

.mobileMenuClosed {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
}

.mobileMenuOpen {
  display: none;
}

@media (max-width: 920px) {
  .mobileMenuButton {
    display: flex; /* Muestra el botón de hamburguesa en pantallas pequeñas */
    height: 8vh;
    width: 8vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 129, 237);
    border-radius: 0 5% 5% 0;
  }

  .mobileMenuClosed {
    display: none; /* Oculta el menú cerrado en pantallas pequeñas */
  }

  .mobileMenuOpen {
    display: flex; /* Muestra el menú abierto en pantallas pequeñas */
    flex-direction: column;
    font-size: 4vw;
    background-color:rgb(20, 129, 237);
    color: white;
    overflow: visible;
    position: fixed;
    border-radius: 0 5% 5% 0;
    width: 60vw;
  }
}

@media (min-width: 920px) {

  .mobileMenuClosed {
    margin-top: 18px;
  }
}