.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.8vw;
  width: 100vw;
  height: 4vh;
  font-family: Tahoma;
  color: rgb(20, 129, 237);
  border: solid rgba(157, 212, 240, 0.533) 1px;
  background-color: rgba(157, 212, 240, 0.23);
}

.active {
  color: black;
  text-underline-offset: 5px;
  text-decoration-color: rgb(100, 200, 255);
}

.disable {
  text-decoration: none;
  color: inherit;
}